<dialog #zahlungDialogModal class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-md btn-circle btn-ghost btn-error absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold">Zahlung</h3>
    @if (zahlungvorgang(); as zv) {
      <div>
        <p class="italic">Zu zahlender Betrag</p>
        <b>{{ zv.betrag.betrag | geldbetrag }} {{ zv.betrag.waehrung }}</b>
        <fieldset class="flex flex-col gap-2">
          <p class="italic">Wie möchten Sie zahlen?</p>

          <div class="flex flex-row gap-2">
            <input type="radio" name="zahlungsart" id="kreditkarte" value="Kreditkarte" class="radio radio-sm"
                   checked="checked"/>
            <label for="kreditkarte">Kreditkarte</label>
          </div>
          <div class="flex flex-row gap-2">
            <input type="radio" name="zahlungsart" value="SpyPal" class="radio radio-sm">
            <label for="kreditkarte">Bezahlkumpel</label>
          </div>
          <div class="flex flex-row gap-2">
            <input type="radio" name="zahlungsart" value="Pear Pay" class="radio radio-sm">
            <label for="kreditkarte">Pear Pay</label>
          </div>
        </fieldset>
      </div>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn btn-primary" (click)="schliesseDialog()">Zahlung bestätigen</button>
        </form>
      </div>
    } @else {
      <div class="loading loading-dots loading-sm"></div>
    }
  </div>
</dialog>
