<div class="card card-border m-4 shadow-md bg-gray-50">
  <div class="card-body items-center">
    @if (fertig() && zahlungsvorgang(); as z) {
      <p class="italic">Sie haben folgenden Betrag bezahlt:</p>
      <p class="card-title">
        {{ z.betrag.betrag | geldbetrag }} {{ z.betrag.waehrung }}
      </p>
    } @else {
      <p class="italic">Zu zahlender Betrag:</p>
      @if (gesamtbetrag(); as g) {
        <p class="card-title">
          {{ g.betrag | geldbetrag }} {{ g.waehrung }}
        </p>
        <div class="card-actions">
          <button class="btn btn-sm btn-primary" (click)="oeffneZahlungDialog()">
            Weiter zur Zahlung
          </button>
        </div>
      } @else {
        <div class="loading loading-dots loading-sm"></div>
      }
    }
  </div>
</div>

  <app-zahlungdialog
    #zahlungDialog
    class="w-full"
    (onDialogGeschlossen)="zahlungDialogGeschlossen($event)"
  />

